/* --- Fonts import --- */

@font-face {
  font-family: "Lato-Black";
  src: url("assets/fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Light";
  src: url("assets/fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Thin";
  src: url("assets/fonts/Lato-Thin.ttf") format("truetype");
}

/* --- /Fonts import --- */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-wrap,
.phones-block-wrap,
.main-wrap {
  width: 940px;
  margin: 0 auto;
}

.portfolio-wrap,
.about-us-wrap {
  width: 940px;
  margin: 0 auto;
}

.portfolio {
  height: 870px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio h1 {
  padding-top: 60px;
  font-size: 30px;
  font-family: "Lato-Black", "Tahoma", sans-serif;
  color: #666d89;
  letter-spacing: -0.004em;
}

.portfolio-wrap > p {
  padding-top: 22px;
  font-size: 18px;
  font-family: "Lato-Light", "Tahoma", sans-serif;
  color: #767e9e;
}

.portfolio-wrap > ul {
  padding-top: 15px;
  padding-left: 1px;
}

.portfolio-wrap > ul li {
  display: inline-block;
  margin-right: 6px;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Lato-Regular", "Tahoma", sans-serif;
  color: #767e9e;
  border: 1px solid #666d89;
  list-style: none;
}

.portfolio-wrap > ul li:first-child {
  padding: 2px 6.5px 3px 6.5px;
}

.portfolio-wrap > ul li:nth-child(2) {
  padding: 2px 6px 3px 6px;
}

.portfolio-wrap > ul li:nth-child(3) {
  padding: 2px 5.5px 3px 5.5px;
}

.portfolio-wrap > ul li:last-child {
  padding: 2px 5px 3px 5px;
}

.portfolio .portfolio-active {
  color: #dedede;
  border: 1px solid #c5c5c5;
}

.portfolio-wrap > ul li:hover {
  color: #000000;
  border: 1px solid #c5c5c5;
  background-color: #c5c5c5;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 601px;
  margin-top: 19px;
  overflow: hidden;
}

.gallery-img {
  width: 220px;
  height: 187px;
  margin-bottom: 20px;
}

.about-us {
  height: 734px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us h2 {
  padding-top: 59px;
  font-size: 30px;
  font-family: "Lato-Black", "Tahoma", sans-serif;
  color: #666d89;
  letter-spacing: -0.0096em;
  word-spacing: 0.02em;
}

.about-us-wrap > p {
  padding-top: 18px;
  font-size: 18px;
  font-family: "Lato-Light", "Tahoma", sans-serif;
  color: #767e9e;
  text-align: justify;
  line-height: 1.7em;
}

.contributors {
  display: flex;
  justify-content: space-between;
  width: 940px;
  height: 443px;
  margin-top: 45px;
}

.contributors > div {
  width: 300px;
}

.contributors > div:nth-child(2) {
  width: 302px;
}

.name {
  height: 22px;
  margin-top: 11px;
  font-size: 18px;
  font-family: "Lato-Black", "Tahoma", sans-serif;
  color: #666d89;
  letter-spacing: -0.0096em;
  word-spacing: 0.02em;
  overflow: hidden;
}

.contributors > div:first-child .name,
.contributors > div:last-child .name {
  position: relative;
  right: 1px;
}

.contributors p {
  margin-top: 8px;
  font-size: 12px;
  font-family: "Lato-Regular", "Tahoma", sans-serif;
  color: #767e9e;
  text-align: justify;
  line-height: 1.8em;
}

.contributors > div:first-child span {
  word-spacing: -0.04em;
}

.social-buttons {
  margin-top: 24px;
}

.contributors > div:first-child .social-buttons,
.contributors > div:nth-child(2) .social-buttons {
  margin-left: 1px;
}

.social-buttons span {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 4px;
}

.social-buttons span:first-child {
  background-image: url("assets/images/social_f.png");
}

.social-buttons span:nth-child(2) {
  background-image: url("assets/images/social_g.png");
}

.social-buttons span:nth-child(3) {
  background-image: url("assets/images/social_t.png");
}

.social-buttons span:last-child {
  background-image: url("assets/images/social_in.png");
}

.social-buttons span:first-child:hover {
  background-image: url("assets/images/social_fw.png");
}

.social-buttons span:nth-child(2):hover {
  background-image: url("assets/images/social_gw.png");
}

.social-buttons span:nth-child(3):hover {
  background-image: url("assets/images/social_tw.png");
}

.social-buttons span:last-child:hover {
  background-image: url("assets/images/social_inw.png");
}

.social-buttons span:hover {
  cursor: pointer;
}
