/* --- Fonts import --- */

@font-face {
  font-family: "Lato-Black";
  src: url("assets/fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Light";
  src: url("assets/fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Thin";
  src: url("assets/fonts/Lato-Thin.ttf") format("truetype");
}

/* --- /Fonts import --- */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-wrap,
.phones-block-wrap,
.main-wrap {
  width: 940px;
  margin: 0 auto;
}

/* --- Header --- */

header {
  background-color: #2d303a;
  height: 95px;
  border-bottom: 6px solid #323746;
}

header .logo {
  display: inline-block;
  padding-top: 28.5px;
  letter-spacing: -0.5px;
  font-size: 25px;
  font-family: "Lato-Bold";
}

header .logo-text {
  text-transform: uppercase;
  color: #ffffff;
}

header .logo-asterisk {
  color: #f06c64;
}

header nav {
  padding-top: 38px;
  float: right;
  color: #ffffff;
  letter-spacing: -0.4px;
  font-family: "Lato-Bold";
}

header nav ul li {
  position: relative;
  list-style-type: none;
  display: inline-block;
  padding-left: 29px;
  text-transform: uppercase;
  font-size: 12px;
}

header nav ul li:hover {

  color: #81cfd9;
  text-decoration: underline;
  cursor: pointer;
}

header nav ul li.active {
  color: #f06c64;
}

header nav ul li::after {
  position: absolute;
  right: -17.5px;
  content: "\00B7";
  color: #464a5d;
}

header nav ul li:last-child::after {
  content: none;
}


/* --- /Header --- */

/* --- Phone section --- */

.phones-block-wrap {
  position: relative;
}

.phones-block {
  height: 600px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.phone1 {
  position: absolute;
  top: 53px;
  left: 72px;
  z-index: 10;
}

.shadow1 {
  position: absolute;
  top: 53px;
  left: 72px;
  z-index: 5;
}

.yellow-pic {
  position: absolute;
  top: 118px;
  left: 86px;
  z-index: 15;
}

.phone2 {
  position: absolute;
  top: 174px;
  right: 97px;
  z-index: 10;
}

.shadow2 {
  position: absolute;
  top: 174px;
  left: 386px;
  z-index: 5;
}

.blue-pic {
  position: absolute;
  top: 188px;
  right: 162px;
  z-index: 15;
}

.arrow-l {
  position: absolute;
  top: 281px;
  left: 2px;
  width: 16px;
  height: 27px;
  background-image: url("assets/images/arrow_l.png");
}

.arrow-l:hover {
  cursor: pointer;
  background-image: url("assets/images/arrow_l_white.png");
}

.arrow-r {
  position: absolute;
  top: 281px;
  right: 0;
  width: 16px;
  height: 27px;
  background-image: url("assets/images/arrow_r.png");
}

.arrow-r:hover {
  cursor: pointer;
  background-image: url("assets/images/arrow_r_white.png");
}


/* -- /Phone section -- */

main {
  height: 500px;
  background-color: #f2f2f2;
  border-bottom:  6px solid #ffffff;
}

main h1 {
  padding-top: 59px;
  padding-bottom: 18px;
  letter-spacing: -0.007em;
  color: #666d89;
  font-size: 30px;
  font-family: "Lato-Black";
}

main h1 + p {
  margin-bottom: 41px;
  /* letter-spacing: -0.005em; */
  line-height: 30px;
  /* word-spacing: 0.10em; */
  color: #767e9e;
  font-size: 18px;
  font-family: "Lato-Light";
  text-align: justify;
}

main .columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .columns section {
  display: flex;
  width: 300px;
  height: 123px;
  overflow: hidden;
}

main .columns section h3 {
  color: #666d89;
  font-size: 18px;
  letter-spacing: -0.09px;
  padding-top: 2px;
  margin-bottom: 8px;
  font-family: "Lato-Black";
}

main .columns section:nth-child(3) h3,
main .columns section:nth-child(6) h3 {
  padding-left: 3px;
}

main .columns section p {
  margin-left: 1px;
  text-align:  justify;
  color: #767e9e;
  line-height: 21.56px;
  font-size: 12px;
  font-family: "Lato-Regular";
}

main .columns section p span {
  display: inline-block;
  margin-top: 1px;
}

main .columns section .img-wrap {
  position: relative;
  width: 59px;
  height: 59px;
  margin-top: 6px;
  border-radius: 50%;
  border: 2px solid #666d89;
}

.pen-wrap,
.phone-wrap {
  margin-left: 1px;
}

main .columns section .img-wrap + div {
  width: 240px;
  padding: 0 0 26px 20px;
}

main .columns section img {
  position: absolute;
}

.pen {
  top: 12px;
  left: 12px;
}

.bulb {
  top: 11px;
  left: 17px;
}

.heart {
  top: 14px;
  left: 12px;
}

.phone {
  top: 12px;
  left: 17px;
}

.bubble {
  top: 14px;
  left: 12px;
}

.star {
  top: 12px;
  left: 12px;
}
