/* --- Fonts import --- */

@font-face {
  font-family: "Lato-Black";
  src: url("assets/fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Light";
  src: url("assets/fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Thin";
  src: url("assets/fonts/Lato-Thin.ttf") format("truetype");
}

/* --- /Fonts import --- */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

/* --- Header --- */



header {
  background-color: #2d303a;
  height: 95px;
  border-bottom: 6px solid #323746;
}

header .logo {
  display: inline-block;
  padding-top: 28.5px;
  letter-spacing: -0.5px;
  font-size: 25px;
  font-family: "Lato-Bold";
}

header .logo-text {
  text-transform: uppercase;
  color: #ffffff;
}

header .logo-asterisk {
  color: #f06c64;
}

header nav {
  padding-top: 38px;
  float: right;


  letter-spacing: -0.4px;
  font-family: "Lato-Bold";
}

header nav ul li {
  position: relative;
  list-style-type: none;
  display: inline-block;
  padding-left: 29px;
  text-transform: uppercase;
  font-size: 12px;

}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

header nav ul li a:hover {

  color: #81cfd9;
  text-decoration: underline;
  cursor: pointer;
}

header nav ul li a.active {
  color: #f06c64;
}

header nav ul li::after {
  position: absolute;
  right: -17.5px;
  content: "\00B7";
  color: #464a5d;
}

header nav ul li:last-child::after {
  content: none;
}


/* --- /Header --- */

/* --- Phone section --- */

.phones-block {
  height: 600px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  transition: background-color 0.5s;

}

.phones-block .slider {
  position: relative;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  overflow: hidden;

}

.arrow-l {
  position: absolute;
  z-index: 5;
  top: 281px;
  left: 42px;
  width: 16px;
  height: 27px;
  background-image: url("assets/images/arrow_l.png");
  background-color: rgba(0,0,0,0);
  border: none;
}

.arrow-l:hover {
  cursor: pointer;
}

.arrow-r {
  position: absolute;
  z-index: 5;
  top: 281px;
  right: 40px;
  width: 16px;
  height: 27px;
  background-image: url("assets/images/arrow_r.png");
  background-color: rgba(0,0,0,0);
  border: none;
}

.arrow-r:hover {
  cursor: pointer;
}

.slider-wrap {
  position: relative;
  display: flex;
  transition: transform 0.5s;
	height: 100%;
}

.slider-item {
  flex: 0 0 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone1 {
  position: absolute;
  top: 53px;
  left: 112px;
  z-index: 10;
}

.shadow1 {
  position: absolute;
  top: 53px;
  left: 112px;
  z-index: 5;
}

.yellow-pic {
  position: absolute;
  top: 118px;
  left: 126px;
  z-index: 15;
  transition: opacity 0.5s;
}

.phone2 {
  position: absolute;
  top: 174px;
  right: 137px;
  z-index: 10;
}

.shadow2 {
  position: absolute;
  top: 174px;
  left: 426px;
  z-index: 5;
}

.blue-pic {
  position: absolute;
  top: 188px;
  right: 202px;
  z-index: 15;
  transition: opacity 0.5s;
}

/* -- /Phone section -- */

main {
  height: 500px;
  background-color: #f2f2f2;
  border-bottom:  6px solid #ffffff;
}

main .container  > h2 {
  padding-top: 59px;
  padding-bottom: 18px;
  letter-spacing: -0.007em;
  color: #666d89;
  font-size: 30px;
  font-family: "Lato-Black";
}

main .container > h2 + p {
  height: 60px;
  margin-bottom: 41px;
  line-height: 30px;
  color: #767e9e;
  font-size: 18px;
  font-family: "Lato-Light";
  text-align: justify;
  overflow: hidden;
}

main .columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .columns section {
  display: flex;
  width: 300px;
  height: 123px;
  overflow: hidden;
}

main .columns section h3 {
  color: #666d89;
  font-size: 18px;
  letter-spacing: -0.09px;
  padding-top: 2px;
  margin-bottom: 8px;
  font-family: "Lato-Black";
}

main .columns section:nth-child(3) h3,
main .columns section:nth-child(6) h3 {
  padding-left: 3px;
}

main .columns section p {
  margin-left: 1px;
  text-align:  justify;
  color: #767e9e;
  line-height: 21.56px;
  font-size: 12px;
  font-family: "Lato-Regular";
}

main .columns section p span {
  display: inline-block;
  margin-top: 1px;
}

main .columns section .img-wrap {
  position: relative;
  width: 59px;
  height: 59px;
  margin-top: 6px;
  border-radius: 50%;
  border: 2px solid #666d89;
}

.pen-wrap,
.phone-wrap {
  margin-left: 1px;
}

main .columns section .img-wrap + div {
  width: 240px;
  padding: 0 0 26px 20px;
}

main .columns section img {
  position: absolute;
}

.pen {
  top: 12px;
  left: 12px;
}

.bulb {
  top: 11px;
  left: 17px;
}

.heart {
  top: 14px;
  left: 12px;
}

.phone {
  top: 12px;
  left: 17px;
}

.bubble {
  top: 14px;
  left: 12px;
}

.star {
  top: 12px;
  left: 12px;
}

.portfolio {
  height: 869px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio .container > h2 {
  padding-top: 59px;
  font-size: 30px;
  font-family: "Lato-Black", "Tahoma", sans-serif;
  color: #666d89;
  letter-spacing: -0.004em;
}

.portfolio .container > p {
  padding-top: 22px;
  font-size: 18px;
  font-family: "Lato-Light", "Tahoma", sans-serif;
  color: #767e9e;
}

.portfolio .container > ul {
  padding-top: 15px;
  padding-left: 1px;
}

.portfolio .container > ul li {
  display: inline-block;
  margin-right: 6px;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Lato-Regular", "Tahoma", sans-serif;
  color: #767e9e;
  border: 1px solid #666d89;
  list-style: none;
}

.portfolio .container > ul li:first-child {
  padding: 2px 6.5px 3px 6.5px;
}

.portfolio .container > ul li:nth-child(2) {
  padding: 2px 6px 3px 6px;
}

.portfolio .container > ul li:nth-child(3) {
  padding: 2px 5.5px 3px 5.5px;
}

.portfolio .container > ul li:last-child {
  padding: 2px 5px 3px 5px;
}

.portfolio .container .portfolio-active {
  color: #dedede;
  border: 1px solid #c5c5c5;
}

.portfolio .container > ul li:hover {
  color: #000000;
  border: 1px solid #c5c5c5;
  background-color: #c5c5c5;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 601px;
  margin-top: 19px;
  overflow: hidden;
}

.gallery-img {
  width: 220px;
  height: 187px;
  margin-bottom: 20px;
}

.gallery-img img {
  width: 220px;
  height: 187px;
}

.img-border {
  border: 5px solid #F06C64;
}

.about-us {
  height: 734px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us h2 {
  padding-top: 59px;
  font-size: 30px;
  font-family: "Lato-Black", "Tahoma", sans-serif;
  color: #666d89;
  letter-spacing: -0.0096em;
  word-spacing: 0.02em;
}

.about-us .container > p {
  padding-top: 18px;
  font-size: 18px;
  font-family: "Lato-Light", "Tahoma", sans-serif;
  color: #767e9e;
  text-align: justify;
  line-height: 1.7em;
}

.contributors {
  display: flex;
  justify-content: space-between;
  width: 940px;
  height: 443px;
  margin-top: 45px;
}

.contributors > div {
  width: 300px;
}

.contributors > div:nth-child(2) {
  width: 302px;
}

.name {
  height: 22px;
  margin-top: 11px;
  font-size: 18px;
  font-family: "Lato-Black", "Tahoma", sans-serif;
  color: #666d89;
  letter-spacing: -0.0096em;
  word-spacing: 0.02em;
  overflow: hidden;
}

.contributors > div:first-child .name,
.contributors > div:last-child .name {
  position: relative;
  right: 1px;
}

.contributors p {
  margin-top: 8px;
  font-size: 12px;
  font-family: "Lato-Regular", "Tahoma", sans-serif;
  color: #767e9e;
  text-align: justify;
  line-height: 1.8em;
}

.contributors > div:first-child span {
  word-spacing: -0.04em;
}

.about-us .social-buttons {
  margin-top: 24px;
}

.contributors > div:first-child .social-buttons,
.contributors > div:nth-child(2) .social-buttons {
  margin-left: 1px;
}

.about-us .social-buttons span {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 4px;
}

.about-us .social-buttons span:first-child {
  background-image: url("assets/images/social_f.png");
}

.about-us .social-buttons span:nth-child(2) {
  background-image: url("assets/images/social_g.png");
}

.about-us .social-buttons span:nth-child(3) {
  background-image: url("assets/images/social_t.png");
}

.about-us .social-buttons span:last-child {
  background-image: url("assets/images/social_in.png");
}

.about-us .social-buttons span:first-child:hover {
  background-image: url("assets/images/social_fw.png");
}

.about-us .social-buttons span:nth-child(2):hover {
  background-image: url("assets/images/social_gw.png");
}

.about-us .social-buttons span:nth-child(3):hover {
  background-image: url("assets/images/social_tw.png");
}

.about-us .social-buttons span:last-child:hover {
  background-image: url("assets/images/social_inw.png");
}

.about-us .social-buttons span:hover {
  cursor: pointer;
}

.form-block {
  height: 654px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.form-block .container > h2 {
  padding-top: 59px;
  font-size: 30px;
  font-family: "Lato-Black", "Tahoma", sans-serif;
  color: #f0d8d9;
  letter-spacing: -0.007em;
}

.form-block .container > p {
  margin-top: 18px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Lato-Light", "Tahoma", sans-serif;
  color: #f0d8d9;
  text-align: justify;
}

.block-wrap {
  display: flex;
  margin-top: 42px;
}

.forms-wrap {
  flex: 0 0 65.9%;
  margin-top: 2px;
  margin-right: 21px;
}

.forms-wrap input {
  width: 100%;
  height: 38px;
  padding-left: 15px;
  margin-bottom: 16px;
  font-size: 12px;
  color: #ffffff;
  background-color: #d6564f;
  border: none;
  border-radius: 4px;
}

.forms-wrap textarea {
  width: 100%;
  height: 202px;
  padding: 10px 0 0 15px;
  margin-bottom: 16px;
  font-size: 12px;
  color: #ffffff;
  background-color: #d6564f;
  border: none;
  border-radius: 4px;
  resize: none;
}

.forms-wrap button {
  width: 100%;
  height: 38px;
  padding-left: 15px;
  font-size: 12px;
  color: #f48c8f;
  background-color: #d6564f;
  border: none;
  border-radius: 4px;

}

.forms-wrap input::placeholder,
.forms-wrap  textarea::placeholder {
  font-family: "Lato-Regular", "Tahoma", sans-serif;
  color: #f48c8f;
}

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 25px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  display: block;
  padding: 5px 35px;
  margin: 0 auto;
  font-size: 18px;
  color: #fefefe;
  background-color: #f06c64;
  border-radius: 10%;
  border: none;
}


.information {
  flex: 0 0 32.073%;
}
.information h3 {
  font-family: "Lato-Black", "Tahoma", sans-serif;
  font-size: 18px;
  color: #f0d8d9;
  letter-spacing: -0.007em;
}

.information > p {
  margin-top: 8px;
  margin-bottom: 19px;
  font-family: "Lato-Regular", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  text-align: justify;
}

.information span {
  position: relative;
  display: inline-block;
  font-family: "Lato-Regular", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 21.56px;
  color: #f0d8d9;
}

.information a {
  color: #f0d8d9;
  text-decoration: none;
}

.information .nav-icon {
  display: inline-block;
  top: 2px;
  left: 3px;
  width: 7px;
  height: 11px;
  background: url("assets/images/loc.png");
}

.information .nav-icon + span {
  top: 1px;
  left: 11px;
}

.information .tel-icon {
  display: inline-block;
  top: 2px;
  left: 1px;
  width: 11px;
  height: 11px;
  background: url("assets/images/tel.png");
}

.information .tel-icon + span {
  top: 1px;
  left: 7px;
}

.information .mes-icon {
  display: inline-block;
  top: 3px;
  left: 0px;
  width: 13px;
  height: 8px;
  background: url("assets/images/mes.png");
}

.information .mes-icon + span {
  top: 2px;
  left: 5px;
}

footer {
  height: 76px;
  background-color: #2d303a;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}

footer .copyright {
  display: inline-block;
  margin-left: 2px;
  width: 92px;
  height: 11px;
  background: url("assets/images/copyright.png");
}

footer .copyright > span {
  position: relative;
  top: -5px;
  left: 0px;
  font-size: 12px;
  color: #575d74;
}

footer .social-buttons {
  margin-top: 3px;
}

footer .social-buttons span {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 4px;
}

footer .social-buttons span:first-child {
  background-image: url("assets/images/social_f2.png");
}

footer .social-buttons span:nth-child(2) {
  background-image: url("assets/images/social_g2.png");
}

footer .social-buttons span:nth-child(3) {
  background-image: url("assets/images/social_t2.png");
}

footer .social-buttons span:last-child {
  background-image: url("assets/images/social_in2.png");
}

footer .social-buttons span:first-child:hover {
  background-image: url("assets/images/social_fw.png");
}

footer .social-buttons span:nth-child(2):hover {
  background-image: url("assets/images/social_gw.png");
}

footer .social-buttons span:nth-child(3):hover {
  background-image: url("assets/images/social_tw.png");
}

footer .social-buttons span:last-child:hover {
  background-image: url("assets/images/social_inw.png");
}

footer .social-buttons span:hover {
  cursor: pointer;
}
